@page
@using MedicalApp.App.Dominio;
@model MedicalApp.App.FrontEnd.Page.Medicos.EditModel
@{
}
<h1>Editar Medico</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="medico.Id"></label>
        <input asp-for="medico.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="medico.TipoIdentificacion"></label>
        <select asp-for="medico.TipoIdentificacion" asp-items="Html.GetEnumSelectList<TipoIdentificacion>()" class="form-control">
        </select>
        <span asp-validation-for="medico.TipoIdentificacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="medico.Identificacion"></label>
        <input asp-for="medico.Identificacion" class="form-control">
        <span asp-validation-for="medico.Identificacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="medico.Nombre"></label>
        <input asp-for="medico.Nombre" class="form-control">
        <span asp-validation-for="medico.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="medico.Apellido"></label>
        <input asp-for="medico.Apellido" class="form-control">
        <span asp-validation-for="medico.Apellido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="medico.Telefono"></label>
        <input asp-for="medico.Telefono" class="form-control">
        <span asp-validation-for="medico.Telefono" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="medico.Correo"></label>
        <input asp-for="medico.Correo" class="form-control">
        <span asp-validation-for="medico.Correo" class="text-danger"></span>
    </div>    
    <div class="form-group">
        <label asp-for="medico.Genero"></label>
        <select asp-for="medico.Genero" asp-items="Html.GetEnumSelectList<Genero>()" class="form-control">
        </select>
        <span asp-validation-for="medico.Genero" class="text-danger"></span>
        
    </div>
    <div class="form-group">
        <label asp-for="medico.Especialidad"></label>
        <select asp-for="medico.Especialidad" asp-items="Html.GetEnumSelectList<Especialidad>()" class="form-control">
        </select>
        <span asp-validation-for="medico.Especialidad" class="text-danger"></span> 
    </div>
    <button type="submit" class="btn btn-primary">Editar médico</button>
</form>
<a asp-page="./Index" class="btn btn-primary">Regresar</a>