@page
@model MedicalApp.App.FrontEnd.Pages.Ciudades.IndexModel
@{
}
<a asp-page="./Create" class="btn btn-primary">Agregar nueva ciudad</a>
<h1>Listado de Ciudades</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre de la Ciudad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var ciudad in Model.ciudades)
        {
            <tr>
                <td>@ciudad.NombreCiudad</td>
                <td>
                    <!-- <a asp-page="./Details" class="btn btn-primary" asp-route-id="@ciudad.Id">Ver Datos</a>-->
                    <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@ciudad.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
